<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appmedica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- LoginActivity configurado como actividad inicial -->
        <activity
            android:name="com.example.appmedica.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity sin intent-filter para que no sea actividad de inicio -->
        <activity android:name="com.example.appmedica.userinterface.MainActivity" />

        <!-- AddRecordActivity para añadir registros médicos -->
        <activity android:name="com.example.appmedica.userinterface.EditRecordActivity" />

    </application>
</manifest>